[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "HtmlToHipe/vendor/gumboparser"]
	path = HtmlToHipe/vendor/gumboparser
	url = https://github.com/google/gumbo-parser.git
